USE [master]
GO
/****** Object:  Database [correo-sp-2017]    Script Date: 16/11/2019 17:02:08 ******/
CREATE DATABASE [correo-sp-2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'correo_sp_2017', FILENAME = N'C:\Users\Usuario\Desktop\TP-04\correo_sp_2017.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'correo_sp_2017_log', FILENAME = N'C:\Users\Usuario\Desktop\TP-04\correo_sp_2017_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [correo-sp-2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [correo-sp-2017]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paquetes](
[id] [int] IDENTITY(1,1) NOT NULL,
[direccionEntrega] [varchar](500) NOT NULL,
[trackingID] [varchar](50) NOT NULL,
[alumno] [varchar](50) NOT NULL,
CONSTRAINT [PK_Paquetes] PRIMARY KEY CLUSTERED
(
[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
